<table class="table table-hover table-condensed">
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><h4><%= link_to restaurant.name, restaurant %></h4></td>
        <% if restaurant.reviews.count > 0 %>
          <td><div class="star-rating" data-score="<%= restaurant.average %>"></div><%= restaurant.reviews.count %> reseñas</td>
          <td><q><%= restaurant.reviews.last.comment %></q></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
